# Copia este archivo como .env y rellena los valores reales
# cp .env.example .env

SECRET_KEY=cambia-esta-clave-por-una-larga-y-aleatoria
DEBUG=False
ALLOWED_HOSTS=tudominio.com,www.tudominio.com
CSRF_TRUSTED_ORIGINS=http://tudominio.com

# PostgreSQL
DB_NAME=busconciertos
DB_USER=busconciertos
DB_PASSWORD=cambia-esta-password
DB_HOST=db
DB_PORT=5432

# Email
EMAIL_HOST_USER=tucorreo@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion_gmail

# Transbank (TEST o LIVE)
TRANSBANK_ENVIRONMENT=TEST
TRANSBANK_COMMERCE_CODE=597055555532
TRANSBANK_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
